<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NavigationBarTitle</key>
	<string>#000000</string>
	<key>PromptText</key>
	<string>#000000</string>
	<key>OpenSettingsButtonTitle</key>
	<string>#FFFFFF</string>
	<key>NavigationBarBg</key>
	<string>#FFFFFF</string>
	<key>BottomViewBg</key>
	<string>#FFFFFF</string>
	<key>BottomButtonsNormalTitle</key>
	<string>#000000</string>
	<key>BottomButtonsDisableBg</key>
	<string>#FFFFFF</string>
	<key>SelectedImageMask</key>
	<string>#FFFFFF</string>
	<key>AlbumListTitle</key>
	<string>#FFFFFF</string>
	<key>HUDBackground</key>
	<string>00000066</string>
	<key>HUDLoadingText</key>
	<string>FFFFFF</string>
</dict>
</plist>
